<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="CB02_URDF(ECS)130C">
<mujoco>
  <compiler meshdir="../meshes/" balanceinertia="true" discardvisual="false"/>
</mujoco>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.000723 4.364E-05 0.059255"
        rpy="0 0 0" />
      <mass
        value="4.7364" />
      <inertia
        ixx="0.014859"
        ixy="5.75E-06"
        ixz="4.18E-06"
        iyy="0.010209"
        iyz="4.58E-06"
        izz="0.012669" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="0 0 0.05" rpy="0 0 0" /> 
      <geometry>
        <box size="0.1 0.1 0.1" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_leg_pelvic_pitch_link">
    <inertial>
      <origin
        xyz="0.007392 0.073579 -0.047622"
        rpy="0 0 0" />
      <mass
        value="2.1671" />
      <inertia
        ixx="0.0038978"
        ixy="-2.998E-05"
        ixz="8.411E-05"
        iyy="0.0025035"
        iyz="-0.00071248"
        izz="0.0026698" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_leg_pelvic_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_leg_pelvic_pitch_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="leg_l1_joint"
    type="revolute">
    <origin
      xyz="0 0.061 0.0575"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_leg_pelvic_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.9199"
      upper="1.5708"
      effort="69.2"
      velocity="12.56" />
  </joint>
  <link
    name="left_leg_pelvic_roll_link">
    <inertial>
      <origin
        xyz="0.024639 0.00080539 -0.053958"
        rpy="0 0 0" />
      <mass
        value="0.72933" />
      <inertia
        ixx="0.0019449"
        ixy="8.56E-06"
        ixz="0.00055534"
        iyy="0.0021761"
        iyz="2.152E-05"
        izz="0.0013377" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_leg_pelvic_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_leg_pelvic_roll_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="leg_l2_joint"
    type="revolute">
    <origin
      xyz="-0.0028 0.0815 -0.055"
      rpy="0 0 0" />
    <parent
      link="left_leg_pelvic_pitch_link" />
    <child
      link="left_leg_pelvic_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.17453"
      upper="1.5708"
      effort="69.2"
      velocity="12.56" />
  </joint>
  <link
    name="left_leg_pelvic_yaw_link">
    <inertial>
      <origin
        xyz="-0.0066188 0.0024439 -0.16689"
        rpy="0 0 0" />
      <mass
        value="4.1415" />
      <inertia
        ixx="0.058172"
        ixy="-0.00030409"
        ixz="0.0038198"
        iyy="0.059636"
        iyz="-0.0012251"
        izz="0.0060704" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_leg_pelvic_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_leg_pelvic_yaw_link.STL" />
      </geometry>
    </collision> -->
    <collision>
      <origin
        xyz="0.0 0 -0.15"
        rpy="0 0 0" />
      <geometry>
        <box size="0.05 0.05 0.2" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leg_l3_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.0975"
      rpy="0 0 0" />
    <parent
      link="left_leg_pelvic_roll_link" />
    <child
      link="left_leg_pelvic_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="35.2"
      velocity="12.56" />
  </joint>
  <link
    name="left_leg_knee_pitch_link">
    <inertial>
      <origin
        xyz="0.0062969 -0.0031691 -0.19469"
        rpy="0 0 0" />
      <mass
        value="4.2951" />
      <inertia
        ixx="0.054032"
        ixy="0.00011774"
        ixz="0.0018449"
        iyy="0.054471"
        iyz="-0.0022958"
        izz="0.0056905" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_leg_knee_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_leg_knee_pitch_link.STL" />
      </geometry>
    </collision> -->
    <collision>
      <origin
        xyz="0.02 0 -0.25"
        rpy="0 0 0" />
      <geometry>
        <box size="0.05 0.05 0.25" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leg_l4_joint"
    type="revolute">
    <origin
      xyz="-0.02 0 -0.2735"
      rpy="0 0 0" />
    <parent
      link="left_leg_pelvic_yaw_link" />
    <child
      link="left_leg_knee_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="2.5307"
      effort="69.2"
      velocity="12.56" />
  </joint>
  <link
    name="left_leg_ankle_pitch_link">
    <inertial>
      <origin
        xyz="0 -1.93E-06 0"
        rpy="0 0 0" />
      <mass
        value="0.057376" />
      <inertia
        ixx="1.172E-05"
        ixy="0"
        ixz="0"
        iyy="9.47E-06"
        iyz="0"
        izz="1.044E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_leg_ankle_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_leg_ankle_pitch_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="leg_l5_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.453"
      rpy="0 0 0" />
    <parent
      link="left_leg_knee_pitch_link" />
    <child
      link="left_leg_ankle_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.87266"
      upper="0.50614"
      effort="35.2"
      velocity="12.56" />
  </joint>
  <link
    name="left_leg_ankle_roll_link">
    <inertial>
      <origin
        xyz="0.022729 0.0012472 -0.036097"
        rpy="0 0 0" />
      <mass
        value="1.1006" />
      <inertia
        ixx="0.0014689"
        ixy="0.00010055"
        ixz="-0.00028119"
        iyy="0.0058057"
        iyz="-1.06E-05"
        izz="0.0062384" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_leg_ankle_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_leg_ankle_roll_link.STL" />
      </geometry>
    </collision>
    <!-- <collision>
      <origin
        xyz="0.03 0 -0.054"
        rpy="0 0 0" />
      <geometry>
        <box size="0.23 0.08 0.02" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="leg_l6_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="left_leg_ankle_pitch_link" />
    <child
      link="left_leg_ankle_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.50614"
      upper="0.50614"
      effort="35.2"
      velocity="12.56" />
  </joint>
  <link
    name="right_leg_pelvic_pitch_link">
    <inertial>
      <origin
        xyz="0.0073684 -0.073515 -0.047566"
        rpy="0 0 0" />
      <mass
        value="2.1692" />
      <inertia
        ixx="0.0039156"
        ixy="2.66E-05"
        ixz="8.106E-05"
        iyy="0.0025133"
        iyz="0.00072134"
        izz="0.0026803" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_leg_pelvic_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_leg_pelvic_pitch_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="leg_r1_joint"
    type="revolute">
    <origin
      xyz="0 -0.061 0.0575"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_leg_pelvic_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.9199"
      upper="1.5708"
      effort="69.2"
      velocity="12.56" />
  </joint>
  <link
    name="right_leg_pelvic_roll_link">
    <inertial>
      <origin
        xyz="0.024541 -0.00073527 -0.053979"
        rpy="0 0 0" />
      <mass
        value="0.73064" />
      <inertia
        ixx="0.0019453"
        ixy="-1.075E-05"
        ixz="0.00055616"
        iyy="0.0021802"
        iyz="-3.349E-05"
        izz="0.0013419" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_leg_pelvic_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_leg_pelvic_roll_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="leg_r2_joint"
    type="revolute">
    <origin
      xyz="-0.0028 -0.0815 -0.055"
      rpy="0 0 0" />
    <parent
      link="right_leg_pelvic_pitch_link" />
    <child
      link="right_leg_pelvic_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.5708"
      upper="0.17453"
      effort="69.2"
      velocity="12.56" />
  </joint>
  <link
    name="right_leg_pelvic_yaw_link">
    <inertial>
      <origin
        xyz="-0.006618 -0.0023786 -0.16685"
        rpy="0 0 0" />
      <mass
        value="4.1427" />
      <inertia
        ixx="0.058213"
        ixy="0.00029196"
        ixz="0.0038117"
        iyy="0.059671"
        iyz="0.0012683"
        izz="0.0060747" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_leg_pelvic_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_leg_pelvic_yaw_link.STL" />
      </geometry>
    </collision> -->
    <collision>
      <origin
        xyz="0.0 0 -0.15"
        rpy="0 0 0" />
      <geometry>
        <box size="0.05 0.05 0.2" />
      </geometry>
    </collision>
    
  </link>
  <joint
    name="leg_r3_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.0975"
      rpy="0 0 0" />
    <parent
      link="right_leg_pelvic_roll_link" />
    <child
      link="right_leg_pelvic_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="35.2"
      velocity="12.56" />
  </joint>
  <link
    name="right_leg_knee_pitch_link">
    <inertial>
      <origin
        xyz="0.0062807 0.003158 -0.1947"
        rpy="0 0 0" />
      <mass
        value="4.2982" />
      <inertia
        ixx="0.054098"
        ixy="-0.00011728"
        ixz="0.0018468"
        iyy="0.054533"
        iyz="0.002294"
        izz="0.0056954" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_leg_knee_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_leg_knee_pitch_link.STL" />
      </geometry>
    </collision> -->
    <collision>
      <origin
        xyz="0.02 0 -0.25"
        rpy="0 0 0" />
      <geometry>
        <box size="0.05 0.05 0.25" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leg_r4_joint"
    type="revolute">
    <origin
      xyz="-0.02 0 -0.2735"
      rpy="0 0 0" />
    <parent
      link="right_leg_pelvic_yaw_link" />
    <child
      link="right_leg_knee_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="2.5307"
      effort="69.2"
      velocity="12.56" />
  </joint>
  <link
    name="right_leg_ankle_pitch_link">
    <inertial>
      <origin
        xyz="0 -1.93E-06 0"
        rpy="0 0 0" />
      <mass
        value="0.057376" />
      <inertia
        ixx="1.172E-05"
        ixy="0"
        ixz="0"
        iyy="9.47E-06"
        iyz="0"
        izz="1.044E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_leg_ankle_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_leg_ankle_pitch_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="leg_r5_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.453"
      rpy="0 0 0" />
    <parent
      link="right_leg_knee_pitch_link" />
    <child
      link="right_leg_ankle_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.87266"
      upper="0.50614"
      effort="35.2"
      velocity="12.56" />
  </joint>
  <link
    name="right_leg_ankle_roll_link">
    <inertial>
      <origin
        xyz="0.0231 -0.001227 -0.032967"
        rpy="0 0 0" />
      <mass
        value="1.0936" />
      <inertia
        ixx="0.0016821"
        ixy="-9.7E-05"
        ixz="-0.0002557"
        iyy="0.0065233"
        iyz="9.99E-06"
        izz="0.0070709" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_leg_ankle_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_leg_ankle_roll_link.STL" />
      </geometry>
    </collision>
    <!-- <collision>
      <origin
        xyz="0.03 0 -0.054"
        rpy="0 0 0" />
      <geometry>
        <box size="0.23 0.08 0.02" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="leg_r6_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_leg_ankle_pitch_link" />
    <child
      link="right_leg_ankle_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.50614"
      upper="0.50614"
      effort="35.2"
      velocity="12.56" />
  </joint>
  <link
    name="waist_yaw_link">
    <inertial>
      <origin
        xyz="-0.011182 0.00019844 0.18439"
        rpy="0 0 0" />
      <mass
        value="11.255" />
      <inertia
        ixx="0.13369"
        ixy="0.0001217"
        ixz="-0.0059434"
        iyy="0.12551"
        iyz="1.709E-05"
        izz="0.073851" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/waist_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/waist_yaw_link.STL" />
      </geometry>
    </collision> -->
    <collision>
    <origin xyz="0 0 0.15" rpy="0 0 0" />
    <geometry>
      <box size="0.1 0.15 0.25" />
    </geometry>
  </collision>
  </link>
  <joint
    name="waist_yaw_joint"
    type="revolute">
    <origin
      xyz="0 0 0.15424"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="waist_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="35.2"
      velocity="12.56" />
  </joint>
  <link
    name="head_yaw_link">
    <inertial>
      <origin
        xyz="-0.00045035 0.0020279 0.043829"
        rpy="0 0 0" />
      <mass
        value="0.53744" />
      <inertia
        ixx="0.0003913"
        ixy="-2.5E-06"
        ixz="1.181E-05"
        iyy="0.00032903"
        iyz="-8.01E-06"
        izz="0.00037805" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/head_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/head_yaw_link.STL" />
      </geometry>
    </collision> -->
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.03" />
      </geometry>
    </collision>
  </link>
  <joint
    name="vhead_1_joint"
    type="revolute">
    <origin
      xyz="0 0 0.36225"
      rpy="0 0 0" />
    <parent
      link="waist_yaw_link" />
    <child
      link="head_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="36"
      velocity="9.3" />
  </joint>
  <link
    name="head_pitch_link">
    <inertial>
      <origin
        xyz="0.028698 -0.00085276 0.085465"
        rpy="0 0 0" />
      <mass
        value="1.3964" />
      <inertia
        ixx="0.0046253"
        ixy="-2.19E-05"
        ixz="0.00054718"
        iyy="0.0051956"
        iyz="-6.616E-05"
        izz="0.0049992" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/head_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/head_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="vhead_2_joint"
    type="revolute">
    <origin
      xyz="0 0 0.045409"
      rpy="0 0 0" />
    <parent
      link="head_yaw_link" />
    <child
      link="head_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.2618"
      upper="0.5236"
      effort="36"
      velocity="9.3" />
  </joint>
  <link
    name="left_shoulder_pitch_link">
    <inertial>
      <origin
        xyz="0.004491 0.051064 1.17E-06"
        rpy="0 0 0" />
      <mass
        value="0.70124" />
      <inertia
        ixx="0.00048251"
        ixy="1.97E-05"
        ixz="4.6E-07"
        iyy="0.00035011"
        iyz="-2.2E-06"
        izz="0.00045997" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_shoulder_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="upper_left_1_joint"
    type="revolute">
    <origin
      xyz="0 0.145 0.2673"
      rpy="0 0 0" />
    <parent
      link="waist_yaw_link" />
    <child
      link="left_shoulder_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.1416"
      upper="1.0472"
      effort="75"
      velocity="12.2" />
  </joint>
  <link
    name="left_shoulder_roll_link">
    <inertial>
      <origin
        xyz="-0.0022055 0.00043559 -0.082734"
        rpy="0 0 0" />
      <mass
        value="0.67595" />
      <inertia
        ixx="0.0010679"
        ixy="1.49E-06"
        ixz="-0.00010051"
        iyy="0.0012151"
        iyz="2.353E-05"
        izz="0.00049051" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_shoulder_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="upper_left_2_joint"
    type="revolute">
    <origin
      xyz="0 0.057 0"
      rpy="0.1745 0 0" />
    <parent
      link="left_shoulder_pitch_link" />
    <child
      link="left_shoulder_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.3491"
      upper="3.1416"
      effort="75"
      velocity="12.2" />
  </joint>
  <link
    name="left_shoulder_yaw_link">
    <inertial>
      <origin
        xyz="-0.0025985 0.018021 -0.031346"
        rpy="0 0 0" />
      <mass
        value="0.17729" />
      <inertia
        ixx="0.0003193"
        ixy="-8.88E-06"
        ixz="-3E-07"
        iyy="0.00027717"
        iyz="8.333E-05"
        izz="0.00016534" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_shoulder_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="upper_left_3_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.1315"
      rpy="0 0 0" />
    <parent
      link="left_shoulder_roll_link" />
    <child
      link="left_shoulder_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="36"
      velocity="9.3" />
  </joint>
  <link
    name="left_elbow_pitch_link">
    <inertial>
      <origin
        xyz="-0.00063569 -0.0037979 -0.004468"
        rpy="0 0 0" />
      <mass
        value="0.6691" />
      <inertia
        ixx="0.00045264"
        ixy="1.547E-05"
        ixz="1.7E-07"
        iyy="0.00038999"
        iyz="1.727E-05"
        izz="0.00034119" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_elbow_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_elbow_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="upper_left_4_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.081"
      rpy="0 0 0" />
    <parent
      link="left_shoulder_yaw_link" />
    <child
      link="left_elbow_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.8675"
      upper="0"
      effort="75"
      velocity="12.2" />
  </joint>
  <link
    name="left_wrist_yaw_link">
    <inertial>
      <origin
        xyz="5.272E-05 0.008444 -0.064235"
        rpy="0 0 0" />
      <mass
        value="1.0429" />
      <inertia
        ixx="0.0016932"
        ixy="5.7E-07"
        ixz="2.12E-06"
        iyy="0.0015574"
        iyz="0.00026115"
        izz="0.00046784" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_wrist_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_wrist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="upper_left_5_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.0525"
      rpy="0 0 0" />
    <parent
      link="left_elbow_pitch_link" />
    <child
      link="left_wrist_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="36"
      velocity="9.3" />
  </joint>
  <link
    name="left_wrist_pitch_link">
    <inertial>
      <origin
        xyz="0.0017421 0.0013674 0.00026392"
        rpy="0 0 0" />
      <mass
        value="0.46697" />
      <inertia
        ixx="0.00013428"
        ixy="-1.47E-06"
        ixz="-1.41E-06"
        iyy="0.00014007"
        iyz="2.8E-07"
        izz="0.00015006" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_wrist_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_wrist_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="upper_left_6_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.1665"
      rpy="0 0 0" />
    <parent
      link="left_wrist_yaw_link" />
    <child
      link="left_wrist_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.0472"
      upper="1.0472"
      effort="36"
      velocity="9.3" />
  </joint>
  <link
    name="left_wrist_roll_link">
    <inertial>
      <origin
        xyz="-0.0011269 0.00026424 -0.027639"
        rpy="0 0 0" />
      <mass
        value="0.11076" />
      <inertia
        ixx="9.193E-05"
        ixy="1.1E-06"
        ixz="-1.57E-06"
        iyy="0.00019499"
        iyz="-5.1E-07"
        izz="0.00013457" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_wrist_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_wrist_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="upper_left_7_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="left_wrist_pitch_link" />
    <child
      link="left_wrist_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.0472"
      upper="1.5708"
      effort="36"
      velocity="9.3" />
  </joint>

  <link
    name="left_base_link">
    <inertial>
      <origin
        xyz="-0.00478670623240345 0.00141981128680185 0.0505239077176536"
        rpy="0 0 0" />
      <mass
        value="0.0306792270125579" />
      <inertia
        ixx="2.2266510056133E-05"
        ixy="-2.6318583761649E-07"
        ixz="1.83638592892823E-07"
        iyy="1.55367220548952E-05"
        iyz="1.26586485241028E-06"
        izz="8.58669326263691E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hand_joint"
    type="fixed">
    <origin
      xyz="0 0 -0.0735"
      rpy="0 3.14 1.57" />
    <parent
      link="left_wrist_roll_link" />
    <child
      link="left_base_link" />
    <!-- <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
  

  <link
    name="right_shoulder_pitch_link">
    <inertial>
      <origin
        xyz="0.0044088 -0.050926 -6.705E-05"
        rpy="0 0 0" />
      <mass
        value="0.70562" />
      <inertia
        ixx="0.00048946"
        ixy="-1.957E-05"
        ixz="6E-07"
        iyy="0.00035213"
        iyz="-4.7E-07"
        izz="0.00046784" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_shoulder_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="upper_right_1_joint"
    type="revolute">
    <origin
      xyz="0 -0.145 0.2673"
      rpy="0 0 0" />
    <parent
      link="waist_yaw_link" />
    <child
      link="right_shoulder_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.1416"
      upper="1.0472"
      effort="75"
      velocity="12.2" />
  </joint>
  <link
    name="right_shoulder_roll_link">
    <inertial>
      <origin
        xyz="-0.0022151 -0.00044725 -0.082743"
        rpy="0 0 0" />
      <mass
        value="0.67591" />
      <inertia
        ixx="0.0010673"
        ixy="-1.24E-06"
        ixz="-0.00010009"
        iyy="0.0012144"
        iyz="-2.402E-05"
        izz="0.00049032" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_shoulder_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="upper_right_2_joint"
    type="revolute">
    <origin
      xyz="0 -0.057 0"
      rpy="-0.1745 0 0" />
    <parent
      link="right_shoulder_pitch_link" />
    <child
      link="right_shoulder_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.1416"
      upper="0.3491"
      effort="75"
      velocity="12.2" />
  </joint>
  <link
    name="right_shoulder_yaw_link">
    <inertial>
      <origin
        xyz="-0.0026171 -0.018021 -0.031334"
        rpy="0 0 0" />
      <mass
        value="0.17728" />
      <inertia
        ixx="0.00031913"
        ixy="8.85E-06"
        ixz="-7.6E-07"
        iyy="0.00027698"
        iyz="-8.327E-05"
        izz="0.00016531" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_shoulder_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="upper_right_3_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.1315"
      rpy="0 0 0" />
    <parent
      link="right_shoulder_roll_link" />
    <child
      link="right_shoulder_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="36"
      velocity="9.3" />
  </joint>
  <link
    name="right_elbow_pitch_link">
    <inertial>
      <origin
        xyz="-0.0010581 0.0021666 -0.0048302"
        rpy="0 0 0" />
      <mass
        value="0.69795" />
      <inertia
        ixx="0.00049558"
        ixy="-2.569E-05"
        ixz="1.31E-06"
        iyy="0.00040022"
        iyz="-2.646E-05"
        izz="0.00038606" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_elbow_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_elbow_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="upper_right_4_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.081"
      rpy="0 0 0" />
    <parent
      link="right_shoulder_yaw_link" />
    <child
      link="right_elbow_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.8675"
      upper="0"
      effort="75"
      velocity="12.2" />
  </joint>
  <link
    name="right_wrist_yaw_link">
    <inertial>
      <origin
        xyz="9.148E-05 -0.0071252 -0.062923"
        rpy="0 0 0" />
      <mass
        value="1.0027" />
      <inertia
        ixx="0.0015303"
        ixy="1.8E-07"
        ixz="2.82E-06"
        iyy="0.0014268"
        iyz="-0.00020725"
        izz="0.00039548" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_wrist_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_wrist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="upper_right_5_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.0525"
      rpy="0 0 0" />
    <parent
      link="right_elbow_pitch_link" />
    <child
      link="right_wrist_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="36"
      velocity="9.3" />
  </joint>
  <link
    name="right_wrist_pitch_link">
    <inertial>
      <origin
        xyz="0.0023201 -0.0014143 0.00024603"
        rpy="0 0 0" />
      <mass
        value="0.47919" />
      <inertia
        ixx="0.00014279"
        ixy="1.07E-06"
        ixz="-1.38E-06"
        iyy="0.00015042"
        iyz="-2.9E-07"
        izz="0.0001623" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_wrist_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_wrist_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="upper_right_6_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.1665"
      rpy="0 0 0" />
    <parent
      link="right_wrist_yaw_link" />
    <child
      link="right_wrist_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.0472"
      upper="1.0472"
      effort="36"
      velocity="9.3" />
  </joint>
  <link
    name="right_wrist_roll_link">
    <inertial>
      <origin
        xyz="0.0020498 0.00015117 -0.02908"
        rpy="0 0 0" />
      <mass
        value="0.10176" />
      <inertia
        ixx="8.585E-05"
        ixy="6.3E-07"
        ixz="-7.22E-06"
        iyy="0.00017694"
        iyz="-2.9E-07"
        izz="0.00012118" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_wrist_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_wrist_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="upper_right_7_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_wrist_pitch_link" />
    <child
      link="right_wrist_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.5708"
      upper="1.0472"
      effort="36"
      velocity="9.3" />
  </joint>

  <link
    name="right_base_link">
    <inertial>
      <origin
        xyz="-0.00477210157415217 -0.0014368255627066 0.0505186815078315"
        rpy="0 0 0" />
      <mass
        value="0.030670160776593" />
      <inertia
        ixx="2.22653147661907E-05"
        ixy="2.61914657870284E-07"
        ixz="1.85322175528149E-07"
        iyy="1.55386682543955E-05"
        iyz="-1.26178670079141E-06"
        izz="8.58493952480684E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hand_joint"
    type="fixed">
    <origin
      xyz="0 0 -0.0735"
      rpy="0 3.14 -1.57" />
    <parent
      link="right_wrist_roll_link" />
    <child
      link="right_base_link" />
    <!-- <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" /> -->
  </joint>
</robot>